.sheet.journal-entry.ag-priyut-stuzhi {
  /* UTILITY */
  & .round {
    border-radius: 50%;
  }

  & .space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    clear: both;
  }

  & .space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    clear: both;
  }

  & .space-between.top, & .space-around.top {
    align-items: start;
  }

  & .left {
    float: left;
    margin-right: 5px;
  }

  & .right {
    float: right;
    margin-left: 5px;
  }

  & .four {
    width: 400px;
  }

  & .three {
    width: 300px;
  }

  & .two {
    width: 200px;
  }

  & .one {
    width: 100px;
  }

  & .clear-both {
    clear: both;
  }

  & .pages-list {
    & .directory .directory-item.context, & .directory .directory-item.active {
      border-color: var(--ag-priyut-stuzhi-main);
    }

    & .directory-item.active:first-of-type, 
    & .directory-item.active + :not(.active), 
    & .directory-item:not(.active) + .active {
      border-top: 1px solid var(--ag-priyut-stuzhi-main);
    }

    & .directory-item.active:last-of-type {
        border-bottom: 1px solid var(--ag-priyut-stuzhi-main);
    }

    & .page-heading .page-number:hover, & .page-heading .page-title:hover {
        text-shadow: var(--ag-priyut-stuzhi-main);
      }
    }

  & .journal-page-content {

    /* FOUNDRY ADVICE */
    & .fvtt.advice, & .fvtt.quest { 
        background: url("../../../systems/dnd5e/ui/parchment.jpg"); 
        display: flow-root;
    }

    /* ADVENTURE GUYS ADVICE */
    & .fvtt.advice.ag-advice {
      border: 2px solid #281328;
    }

    /* NOTABLES */
    & .notable {
        display: flow-root;
    }

    /* NARRATIVE */
    & .fvtt.narrative { 
      --dnd5e-color-gold: var(--ag-priyut-stuzhi-quote-box-border);
      background: var(--ag-priyut-stuzhi-quote-box-color);
    }

    /* TABLES */
    & table.fvtt, & table.roll-table-embed {
      border: 1px solid #EDEAE8;
      --dnd5e-color-table-row-even: var(--ag-priyut-stuzhi-table-row-even);
      --dnd5e-color-table-row-odd: var(--ag-priyut-stuzhi-table-row-odd);

      & caption {
        text-align: left;
        font-weight: bold;
      }

      & thead {
        border-bottom: 3px solid #d0cac5;
        color: #000;
        font-weight: bold;
        text-shadow: none;
        text-align: left;

        & tr {
          background: #FDFDFD;
        }

        & tr:hover {
          background: #FDFDFD;
        }

        & th {
          padding: 12px 20px;
        }
      }

      & tbody {
        & tr:hover {
          background: #d1d4cd;
        }

        & td {
          border: 1px solid #EDEAE8;
          padding: 5px 20px;
        }
      }
    }
  }

  /* Embeds */
  & .content-embed figcaption cite::before {
    margin-right: 2px;
  }

  /* Icons */
  & .reference-icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5) no-repeat center / contain;
    border: 1px solid var(--color-border-dark);
    border-radius: 4px;
    color: var(--color-text-light-highlight);
  }
  & .reference-icon.visibility-state {
    color: #fff;
    background-image: url(../../../icons/svg/cowled.svg);
    margin-bottom: -6px;
  }

  & .reference-icon.secret-door {
    background-image: url(../../../icons/svg/door-secret-outline.svg);
    margin-bottom: -7px;
  }

  & .reference-icon.locked-door {
    background-image: url(../../../icons/svg/door-locked-outline.svg);
    margin-bottom: -7px;
  }
  & .reference-icon.fa-map-pin {
    padding: 2px 0 0 5px;
  }
  & .reference-icon.fa-bookmark {
    padding: 2px 0 0 3px;
  }
  & .reference-icon.fa-bookmark {
    padding: 2px 0 0 3px;
  }
  & .reference.fa-comment-dots::before {
    padding: 0 0 0 2px;
  }
  & span.currency {
    margin-bottom: -3px;
  }
  & span.reference.fa-coins::before {
    margin-left: 4px;
  }

  /* References */
  & span.reference {
    color: var(--color-text-dark-primary);
    border: 1px solid var(--color-border-dark-5);
    padding: .1rem;
  }
  & span.reference:before {
    font-family: var(--font-awesome);
    font-weight: 900;
    color: #000;
    margin-right: 3px;
  }
}