.sheet.journal-entry.ag-priyut-stuzhi {
  --dnd5e-color-gold: var(--ag-priyut-stuzhi-main);

  & .journal-sheet-container .journal-entry-content {
    border-image-slice: 280;
    border-image-width: 40px;
    border-image-repeat: stretch stretch;
    border-image-source: url(../assets/ui/right-border.webp);
    background-image: url(../assets/ui/page-background.webp);
    background-size: cover;
    padding-bottom: 32px;
  }

  & .journal-header {
    margin: 1rem 0rem 0;
  }

  & .journal-header input.title {
    background: none;
  }

  & .journal-header input.title:focus {
    box-shadow: 0 0 5px var(--ag-priyut-stuzhi-main);
  }

  & .journal-entry-content {
    & .journal-entry-pages {
      margin: 0;
    }

    & a:is(.content-link, .inline-roll), & span.roll-link a {
      text-decoration-color: var(--ag-priyut-stuzhi-main);
      padding: 0;
      & i { color: var(--ag-priyut-stuzhi-main); }
    }

    & a.content-link:hover, & a.editor-edit:hover { text-shadow: 0 0 8px var(--ag-priyut-stuzhi-main); }

    & a[data-action="request"] i { color: var(--ag-priyut-stuzhi-main); }

    & .roll-link a > i.fa-dice-d20, & a.inline-roll > i.fa-dice-d20 {
      background: url("../assets/ui/d20.svg") no-repeat center / contain;
    }
  }

  & .sidebar {
    & a:hover { text-shadow: 0 0 8px var(--ag-priyut-stuzhi-main); }
    & button {
      background: var(--ag-priyut-stuzhi-main);
      border: var(--ag-priyut-stuzhi-narrative-border);
      color: #fff;
    }
    & button:hover, & button:focus { box-shadow: 0 0 5px var(--ag-priyut-stuzhi-main); }
  }

  & .book-navigation {
    flex-grow: 0;
    padding: 5px 0;
    margin: 0 10px 10px;
    border: none;
    opacity: .2;
    transition: all 0.5s ease-out;

    &:hover {
      opacity: 1;
    }

    & ul {
      display: flex;
      gap: 5px;
      margin: 0;
      padding-inline: 1rem;
      list-style: none;
    }
    & li {
      flex: 1 1 33%;
    }
    & a {
      display: block;
      border: none;
      background: none;
      text-align: center;
      text-decoration: none;
    }
    & a[rel="prev"] {
      text-align: start;
      &::before {
        content: "\f060";
        font-family: var(--font-awesome);
        font-weight: bold;
        padding-inline-end: 2px;
      }
    }
    & a[rel="next"] {
      text-align: end;
      &::after {
        content: "\f061";
        font-family: var(--font-awesome);
        font-weight: bold;
        padding-inline-start: 2px;
      }
    }
    & a.parent {
      text-align: center;
      &::before {
        content: "\f062";
        font-family: var(--font-awesome);
        font-weight: bold;
        padding-inline-end: 3px;
      }
    }
  }

  & .scrollable {
    padding: 0 0.5rem 1rem 1rem;
  }

  & img {
    border: none;
  }
}
