/* ---------------------------------------- */
/*  Typography                              */
/* ---------------------------------------- */
:root {
  /* Font Sizes */
  --font-h1-size: 2rem;
  --font-h2-size: 1.8rem;
  --font-h3-size: 1.6rem;
  --font-h4-size: 1.4rem;
  --font-h5-size: 1.2rem;
  --font-h6-size: 1.0rem;
  --body-size: 1rem;

  /* ---------------------------------------- */
  /*  Colors                                  */
  /* ---------------------------------------- */
  --ag-priyut-stuzhi-main: #18b7ec;
  --ag-priyut-stuzhi-narrative-border: #0066ba;
  --ag-priyut-stuzhi-quote-box-color: #e0f3ff;
  --ag-priyut-stuzhi-quote-box-border: #0066ba;
  --ag-priyut-stuzhi-table-row-even: #fdfdfd;
  --ag-priyut-stuzhi-table-row-odd: #e0f3ff;
}
